---
interface Props {
    image: Image;
}
interface Image {
    src: string;
    alt: string;
}

const { image } = Astro.props as Props;
---

<section class="max-w-7xl mx-auto py-10 lg:py-10 relative flex items-center">
    <a href="https://play.google.com/store/apps/details?id=com.emesistemas.EmeEquipoMedicoDeEmergencia&pcampaignid=web_share">
        <img class="h-full w-full object-cover" src="/images/services/Group 324.png" alt={image.alt}>
    </a>
</section>

<style>
    .img {
        aspect-ratio: 16/9;
    }
</style>