---

interface Props {
    data: Data;
    class: string;
    breadcrumb_top?: boolean;
}
interface Data {
    title: string;
    description: string;
    icon: Icon;
}
interface Icon {
    src: string;
    alt: string;
}

const {class: className, data} = Astro.props as Props;
---


<div class:list={[className, "max-w-6xl w-full pl-24 pr-36 py-8 bg-primary-600 rounded-3xl"]}>
  <div class="flex gap-12">
    <img class="size-32 z-10" src={data.icon.src} alt={data.icon.alt}>
    <div class="z-10">
      <h1 class="text-4xl text-white border-b-2 pb-3">{data.title}</h1>
      <p class="text-2xl text-white pt-4">
        {data.description}
      </p>
    </div>
  </div>
</div>