---
import Feature from "./Feature.astro";

interface FeatureItem {
  icon: Icon;
  title: string;
  details: string;
}
interface Icon {
  src: string;
  alt: string;
}

const { features } = Astro.props as { features: FeatureItem[] };
---


<section class="relative px-0 py-12 lg:px-0 lg:py-8">
    <div class="max-w-[85%] mx-auto grid grid-cols-1 md:grid-cols-3 gap-2 relative z-10">
        {
            features.map((item) => (
                <Feature icon={item.icon} title={item.title} details={item.details} whiteTheme="true"/>
            ))
        }
    </div>
    <div slot="background" id="gradient" class="absolute top-0 left-0 w-full h-full min-w-full min-h-full bg-gradient-to-b to-[#00A6A2] to-90% from-secondary-900 z-0 pointer-events-none"></div>
</section>