---
import Breadcrumb from "../UI/Breadcrumb.astro";
import Feature from "./Feature.astro";

interface FeatureItem {
  icon: Icon;
  title: string;
  details: string;
}
interface Icon {
  src: string;
  alt: string;
}

const { features } = Astro.props as { features: FeatureItem[] };
---


<section class="relative px-4 py-6 lg:px-0 lg:py-8">
  <!-- <Breadcrumb class="lg:hidden" /> -->
    <div class="max-w-7xl mx-auto flex flex-col lg:flex-row gap-2 relative z-10">
      <header class="lg:w-[30%] mt-6">
        <h2 class="text-2xl lg:text-4xl text-[#44E5E1]">Siempre buscando ofrecerte lo mejor</h2>
      </header>
      <div class="lg:w-[70%] grid grid-cols-1 md:grid-cols-2 gap-2">
        {
          features.map((item) => (
            <Feature icon={item.icon} title={item.title} details={item.details} whiteTheme="true"/>
          ))
        }
      </div>
    </div>
    <div slot="background" id="gradient" class="absolute top-0 left-0 w-full h-full min-w-full min-h-full bg-gradient-to-b to-[#00A6A2] to-90% from-secondary-900 z-0 pointer-events-none"></div>
</section>