---
interface FeatureItem {
  icon: Icon;
  title: string;
  details: string;
  whiteTheme?: boolean;
}
interface Icon {
  src: string;
  alt: string;
}

const { icon, title, details, whiteTheme } = Astro.props as FeatureItem
---
<details id="question" class={`group w-full lg:p-5 rounded-2xl ${whiteTheme ? "white p-1" : "p-3"} `}>
    <summary class="flex items-center cursor-pointer">
        <img src={icon.src} alt={icon.alt} class={` lg:mr-3 ${whiteTheme ? "size-10 xl:size-20 mr-0" : "size-12 xl:size-14 mr-3"}`} />
        <img src={whiteTheme ? "/icons/acordeon-arrow-white.svg" : "/icons/acordeon-arrow.svg"} alt="flecha apertura" class={`lg:size-10 transition-all group-open:rotate-180 duration-300 ease-in-out ${whiteTheme ? "size-4" : "size-6 mr-2"}`} />
        <span class={`font-semibold text-pretty xl:text-2xl ${whiteTheme ? "text-white text-sm" : "text-[#505050] text-base"}`}>{title}</span>
    </summary>
    <p class={`mt-2 text-sm xl:text-xl group-open:animate-fade-down animate-duration-300 ${whiteTheme ? "text-white" : "text-gray-600"}`} set:html={details}>
    </p>
</details>

<style>
#question[open] {
  @apply bg-secondary-100/40;
  transition: all 0.5s ease-in-out;
}
#question.white {
  @apply bg-primary-900/20;
}
#question:not([open]) {
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
</style>