---
interface FeatureItem {
  icon: Icon;
  title: string;
  details: string;
  whiteTheme?: boolean;
}
interface Icon {
  src: string;
  alt: string;
}

const { icon, title, details, whiteTheme } = Astro.props as FeatureItem
---
<details id="question" class={`group w-full p-3 lg:p-5 rounded-2xl ${whiteTheme ? "white" : ""} `}>
    <summary class="flex items-center cursor-pointer">
        <img src={icon.src} alt={icon.alt} class={`size-12 xl:size-14 mr-3 lg:mr-3 ${whiteTheme ? "size-14 xl:size-20" : ""}`} />
        <img src={whiteTheme ? "/icons/acordeon-arrow-white.svg" : "/icons/acordeon-arrow.svg"} alt="flecha apertura" class={`size-6 lg:size-10 transition-all group-open:rotate-180 duration-300 ease-in-out`} />
        <span class={`font-semibold text-pretty text-lg xl:text-2xl ${whiteTheme ? "text-white" : "text-[#505050]"}`}>{title}</span>
    </summary>
    <p class={`mt-2 text-sm xl:text-xl group-open:animate-fade-down animate-duration-300 ${whiteTheme ? "text-white" : "text-gray-600"}`} set:html={details}>
    </p>
</details>

<style>
#question[open] {
  @apply bg-secondary-100/40;
  transition: all 0.5s ease-in-out;
}
#question.white {
  @apply bg-primary-900/20;
}
#question:not([open]) {
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
</style>