---
import Section from "../UI/Section.astro";
import ThreeColumnsGrid from "../UI/ThreeColumnsGrid.astro";

const { services } = Astro.props;
---

<Section>
    <ThreeColumnsGrid>
        {
            services.map((service) => (
                <div class="relative overflow-hidden">
                    <a href={service.href} class="relative h-[22rem] w-full group">
                        <img src={service.image.src} alt={service.image.alt} 
                        class="h-full w-full object-cover object-top top-0 left-0 -z-10 transition-all duration-500 ease-in-out transform group-hover:object-right scale-100 group-hover:scale-110 group-hover:translate-x-5"
                        />
                        <h2 set:html={service.title} class="absolute top-0 left-0 font-bold text-white text-3xl h-full flex flex-col justify-end p-10 z-10"></h2>
                        <div id="gradient" class=" absolute top-0 left-0 w-full h-full min-w-full min-h-full bg-gradient-to-t from-primary-800 to-transparent to-75% z-0"></div>
                    </a>
                </div>
            ))
        }
    </ThreeColumnsGrid>
</Section>