---
import H2Title from "../UI/H2Title.astro";
import PrimaryButton from "../UI/PrimaryButton.astro";
import Section from "../UI/Section.astro";
---

<Section class="flex flex-col lg:flex-row items-center justify-center gap-5 lg:gap-10">
    <H2Title margin={true} line={false} text="¿Te gustaría unirte a nuestro equipo?" />
    <PrimaryButton text="Trabajá con nosotros" href="/trabaja_con_nosotros" />
</Section>