---
import Carrousel from '../components/home/Carrousel.astro';
import Plans from '../components/home/Plans.astro';
import Membership from '../components/home/Membership.astro';
import Layout from '../layouts/Layout.astro';
import Stats from '../components/home/Stats.astro';
import Benefits from '../components/home/Benefits.astro';
---

<Layout title="EME" description="EME">
	<main>
		<Carrousel />
		<Plans />
		<Membership />
		<Stats />
		<Benefits />
	</main>
</Layout>