---
import TertiaryButton from "../UI/TertiaryButton.astro"
---

<script>
import Swiper from 'swiper';
import 'swiper/bundle';
import { Navigation, Pagination, Autoplay } from 'swiper/modules';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

const swiper = new Swiper('.swiper', {
  modules: [Navigation, Pagination, Autoplay],
  loop: true,
  centeredSlides: true,
  centeredSlidesBounds: true,
  slidesPerView: 1,
  spaceBetween: 0,
  speed: 800,
  allowTouchMove: false,
  // breakpoints: {
  //   1024: {
  //     allowTouchMove: false,
  //   }
  // },
  autoplay: {
    delay: 5000,
    disableOnInteraction: false,
  },
  pagination: {
    el: '.swiper-pagination-carousel',
    clickable: true,
    type: 'bullets',
    dynamicBullets: true,
  },
  navigation: {
    prevEl: '.swiper-button-prev',
    nextEl: '.swiper-button-next',
  },
});
</script>


<section class="swiper w-full xl:h-auto relative">
  <div class="swiper-wrapper relative" id="my-slider">
      <div id="swiper-slide-banner" class="swiper-slide h-auto rounded overflow-hidden relative">
        <a href="https://tify.cc/xt8oQ" target='_blank'>
          <img src="/images/home/carousel/slider_sorteo.webp" alt="" class="w-full h-full object-cover">
        </a>
      </div>
      <div id="swiper-slide-banner" class="swiper-slide h-auto rounded overflow-hidden relative">
          <img src="/images/home/carousel/slider_afiliate.webp" alt="Afiliate a EME club" class="w-full h-full object-cover">
          
          {/* Text and buttons */}
          <div class="carousel-text absolute top-0 left-0 w-full h-full flex flex-col justify-center items-center gap-1 lg:gap-10">
            <h2 class="text-white text-center text-xl lg:text-4xl">AFILIATE</h2>
            <p class="text-white text-xs lg:text-2xl text-center max-w-[80%] lg:max-w-5xl">Tu tranquilidad es nuestra prioridad. Con EME, contás con un servicio de emergencias de última generación, adaptado a tus necesidades.</p>
            <TertiaryButton text="CUIDÁ LO QUE MÁS NECESITAS" href="/servicios" class="text-xs lg:text-2xl"/>
            <div id="gradient-carousel" class="absolute top-0 left-0 w-full h-full min-w-full min-h-full bg-gradient-to-t from-primary-600 to-transparent to-80% pointer-events-none"></div>
          </div>
        </div>
  </div>
  <div class="swiper-pagination-carousel"></div>
  <div class="swiper-button-prev transform rotate-180 hover:scale-125 transition-transform duration-300 ease-in-out">
    <img class="size-6 lg:size-28" src="/icons/swiperCarousel.svg" alt="Icono siguiente imagen">
  </div>
  <div class="swiper-button-next hover:scale-125 transition-transform duration-300 ease-in-out">
    <img class="size-6 lg:size-28" src="/icons/swiperCarousel.svg" alt="Icono anterior imagen">
  </div>

</section>

<style is:global>
  #swiper-slide-banner {
    aspect-ratio: 16/7;
  }
  @screen lg {
    #swiper-slide-banner {
      aspect-ratio: 16/5;
    }
  }

  .swiper-pagination-carousel {
      position: absolute;
      display: none;
    }
  @screen lg {
    .swiper-pagination-carousel {
      position: absolute;
      bottom: 1rem !important;
      z-index: 30;
    }
  }

  .swiper-pagination-carousel .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.8;
    margin: 0px 8px !important;
  }

  .swiper-pagination-carousel .swiper-pagination-bullet-active {
    background: #636363 !important;
    opacity: 1;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: '';
  }

  #gradient-carousel {
    z-index: 10;
  }
  
  .carousel-text h2 , .carousel-text p, .carousel-text a {
    z-index: 20;
  }
</style>