<div id="carrousel-skeleton" slot="fallback" class="bg-gray-200 h-full w-full flex justify-center items-center">
    <div>Cargando...</div>
</div>

<style>
    #carrousel-skeleton{
    aspect-ratio: 16/7;
  }
  @screen lg {
    #carrousel-skeleton {
      aspect-ratio: 16/5;
    }
  }
</style>