---

const images = await Astro.glob('/public/images/home/carousel/*')
---

<script>
import Swiper from 'swiper';
import 'swiper/bundle';
import { Navigation, Pagination, Autoplay } from 'swiper/modules';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

const swiper = new Swiper('.swiper', {
  modules: [Navigation, Pagination, Autoplay],
  loop: true,
  centeredSlides: true,
  centeredSlidesBounds: true,
  slidesPerView: 1,
  spaceBetween: 0,
  speed: 900,
  allowTouchMove: false,
  autoplay: {
    delay: 5000,
    disableOnInteraction: false,
  },
  pagination: {
    el: '.swiper-pagination-carousel',
    clickable: true,
    type: 'bullets',
    dynamicBullets: true,
  },
  navigation: {
    prevEl: '.swiper-button-prev',
    nextEl: '.swiper-button-next',
  },
});
</script>


<section class="swiper w-full xl:max-h-[460px] xl:h-auto relative">
  <div id="gradient" class=" absolute top-0 left-0 w-full h-full min-w-full min-h-full bg-gradient-to-t from-primary-600 to-transparent z-10 pointer-events-none"></div>
  <div class="swiper-wrapper relative" id="my-slider">
    {
      images.map(image => (
      <div class="swiper-slide h-auto rounded overflow-hidden">
        <img src={image.default.src} alt="" class="w-full h-full object-cover">
      </div>
      ))
    }
  </div>
  <div class="swiper-pagination-carousel"></div>

</section>

<style is:global>

  .swiper-pagination-carousel {
    position: absolute;
    bottom: 1rem !important;
    z-index: 30;
  }

  .swiper-pagination-carousel .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.8;
    margin: 0px 8px !important;
  }

  .swiper-pagination-carousel .swiper-pagination-bullet-active {
    background: #636363 !important;
    opacity: 1;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: '';
  }
</style>