---
import Section from '../UI/Section.astro'

interface Props {
    memberships : Membership[];
}

interface Membership {
    title: string;
    icon: Image;
    href: string;
}

interface Image {
    src: string;
    alt: string;
}

const { memberships } = Astro.props as Props;
---
<Section class="grid grid-cols-4">
    {
        memberships.map((item) => (
            <a href={item.href} class="item flex flex-col items-center gap-2 group">
                <img src={item.icon.src} alt={item.icon.alt} class="size-20 group-hover:-translate-y-2 transition-transform ease-in-out" />
                <h3 class="font-bold text-xl text-primary-600 text-center group-hover:scale-110 transition-transform ease-in-out">{item.title.toLocaleUpperCase()}</h2>
            </a>
        ))
    }
</Section>

<style>
    .item {
        @apply border-r border-r-primary-600;
    }
    .item:last-child {
        @apply border-none;
    }
</style>