---
import '@fontsource-variable/open-sans'

import FloatingMenu from '../components/layout/FloatingMenu.astro';
import Header from '../components/layout/Header.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="h-[100%]">
		<Header/>
		<FloatingMenu/>
		<slot />
	</body>
</html>

<style is:global>
@tailwind base;

	@layer base{
		h1, h2 {
			@apply text-4xl xl:text-6xl
		}
		h3 {
			@apply text-2xl xl:text-3xl
		}
		h1, h2, h3, h4, h5, h6 {
			@apply text-black font-bold
		}
		p {
			@apply text-xl xl:text-2xl text-black
		}
		span {
			@apply font-bold
		}
		a{
			@apply text-black
		}
	}

	body {
		font-family: 'Open Sans Variable', sans-serif;
	}

    /* body {
        height: auto;
        background-attachment: fixed;
        background-size: cover;
    } */
</style>
