---
import '@fontsource-variable/open-sans'

import FloatingMenu from '../components/layout/FloatingMenu.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" as="image" href="/logo.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<Header/>
		<FloatingMenu/>
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
@tailwind base;

	@layer base{
		h1 {
			@apply text-4xl xl:text-6xl
		}
		h2 {
			@apply text-2xl lg:text-3xl
		}
		h3 {
			@apply text-lg xl:text-xl
		}
		h1, h2, h3, h4, h5, h6 {
			@apply text-[#505050] font-bold text-center xl:text-start
		}
		p {
			@apply text-base xl:text-xl text-[#505050] xl:text-black text-justify
		}
		span {
			@apply font-bold
		}
		a{
			@apply text-black
		}
	}

	body {
		font-family: 'Open Sans Variable', sans-serif;
	}
</style>
