---
import Section from "../UI/Section.astro";
import BenefitCard from "./BenefitCard";
import BenefitsList from "./BenefitsList";

const { eme_club } = Astro.props;

const id = eme_club.id + "_content";
---

<Section id={id} class="content animate-fade-down animate-delay-300 animate-duration-500 animate-ease-in-out" >
    <BenefitsList client:only="react" />
</Section>