---
import Section from "../UI/Section.astro";
import BenefitsList from "./BenefitsList";

const { eme_club } = Astro.props;

const id = eme_club.id + "_content";
---

<section id={id} class="px-5 py-12 lg:px-0 lg:py-16 max-w-6xl m-auto content hidden animate-fade-down animate-delay-300 animate-duration-500 animate-ease-in-out" >
    <BenefitsList client:only="react" />
</section>