---
const { text, margin, line = true, class: className, ...props } = Astro.props as { text: string, line: boolean, class: string, margin: string };
---

<h2 class={`p-2 ${margin ? "" : "mb-10"} ${line ? "border-b-2 border-primary-500" : ""} ${className}`} {...props} >{text}</h2>