---
const { href, text,  class: className, white, ...props} = Astro.props;
---

<a class:list={[className, "cursor-pointer hover:text-secondary-800", white ? "text-white": ""]} href={href} {...props}>{text}</a>