---
const {href, text, class: className, ...props} = Astro.props;
---

<a
    class:list={[className, "py-2 px-4 md:px-6 text-center text-white cursor-pointer font-semibold bg-primary-600 hover:scale-105 transition-transform duration-300 ease-in-out"]}
    href={href}
    {...props}
>{text}</a>