---
interface Props {
  text: string;
  h?: string;
  w?: string;
}

const { text, h, w } = Astro.props;
---

<div class="relative flex group/tooltip">
  <slot />
  <span
    class="flex justify-center opacity-0 group-hover/tooltip:opacity-100 transition-all duration-150 bg-primary-600 text-white rounded-md absolute left-1/2 -translate-x-1/2 translate-y-full p-1 mx-auto text-center"
    class:list={{
      [`${h}`]: h,
      "-top-14": !h,
      [`${w}`]: w,
    }}
  >
    {text}
    <svg
      class="absolute text-primary-600 h-2 w-full left-0 top-full"
      x="0px"
      y="0px"
      viewBox="0 0 255 255"
      xml:space="preserve"
      ><polygon class="fill-current" points="0,0 127.5,127.5 255,0"
      ></polygon></svg
    >
  </span>
</div>